{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block scripts %}
{{ super() }}
    <script type='text/javascript'>
     $(function() {
         $('input[name=submit]').click(function(){
            var elems = new Array();
            $('.adding:checked').each(function(){
                  elems.push($(this).attr('value'));
              });
            $.post("{{ url_for('finalassign') }}", {
                date: $('input[name=date').val(),
                optradio: $('input[name=optradio]:checked').val(),
                phones: elems
            });
         });
      });
    </script>
{% endblock %}
{% block content %}
{% set title = "New Cruise" %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="container">
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="page-header">
    <h2>{{ 'Adding new Cruise' }}</h2>
  </div>
  <form action="" method='post'>
    <div><label class='control-label'>Cruise Company:</label> {{ form.companyname(class='form-control', readonly=True, value=cruisecompany) }}</div>
    <div><label class='control-label'>Date:</label> {{ form.date(class='form-control') }}</div>
    <div><label class='control-label'>Cruises:</label></div>
    {% for cruise in cruises %}
            <div class="radio">
          <label><input type="radio" name="optradio" value="{{ cruise.cruise_id }}">{{ cruise.cruisename }} - {{ cruise.shortname }}</label>
        </div>
    {% endfor %}
    Guides:
      <div><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Select</button></div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <ul>
                      {% for guide in guides %}
                          <li>
                            <input type="checkbox" class="adding" value="{{ guide.phone }}">{{ guide.guidename }} - {% if guide.guidetype == 'dcl' %}Declared{% elif guide.guidetype == 'se' %} Self-employed {% endif %}
                          </li>
                      {% endfor %}
                      </ul>
                  </div>
                </div>
            </div>
    <input name="submit" type='submit' class="btn btn-primary" value='Add'/>
  </form>
</div>
{% endblock %}    