{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
{% set title = "New Company" %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="container">
	{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="page-header">
    <h2>{{ 'Adding new Cruise Company' }}</h2>
  </div>
	<form action='' method='post'>
		{{ form.hidden_tag() }}
		<div><label class='control-label'>Company Name:</label> {{ form.companyname(class='form-control') }}</div>
		<div><label class='control-label'>Short Name:</label> {{ form.companyshort(class='form-control') }}</div>
		<div><label class='control-label'>Add More:</label> {{ form.another(class='form-control') }}</div><br>
		<div>{{ form.submit(class='btn btn-primary') }}</div>

	</form>
	<a href="{{ url_for('main') }}">Exit</a>
</div>
{% endblock %}