{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block scripts %}
{{ super() }}
    <script type='text/javascript'>
    $(document).ready(function() {
     $('#table-guides').dynatable();
    });

    $(function() {
         $('button[name=del]').click(function(){
            $.post("{{ url_for('eliminateguide') }}", {
            phone: $(this).attr('id'),
          });
            window.location = "{{ url_for('main') }}";
         });
      });
    </script>
{% endblock %}
{% block styles %}
  {{ super() }}
  <style type="text/css">
    .scroll-area{
  height: 200px;
  overflow-y:scroll;
}
  </style>
{% endblock %}
{% block content %}
{% set title = "Guide Aministration" %}
<div class="container">
  <table id="table-guides" class="table table-bordered">
    <thead>
      <tr>
        <th>
          Guide
        </th>
        <th>
          Phone
        </th>
        <th>
          -
        </th>
      </tr>
    </thead>
  <tbody>
  {% for guide in guides %}
    <tr>
        <td><a href="{{ url_for('guide', phone=guide.phone) }}">{{ guide.guidename }}</a></td>
        <td><a href="{{ url_for('guide', phone=guide.phone) }}">{{ guide.phone }}</a></td>
        <td><button type="button" class="btn btn-primary" name="del" id="{{ guide.phone }}">X</button></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  <a href="{{ url_for('main') }}">Exit</a>
</div>
{% endblock %}