{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block styles %}
  {{ super() }}
  <style type="text/css">
    .scroll-area{
  height: 200px;
  overflow-y:scroll;
}
  </style>
{% endblock %}
{% block scripts %}
{{ super() }}
 <script type='text/javascript'>
     $(function() {
         $('button[name=upper]').click(function(){
            $.post("{{ url_for('editguide') }}", {
            newname: $('input[name=newname]').val(),
            newemail: $('input[name=newemail]').val(),
            newphone: $('input[name=newphone]').val(),
            newdni: $('input[name=newdni]').val(),
            g: {{ guide.phone }}
          });
            window.location = "{{ url_for('guideadmin') }}";
         });
      });
 </script>
{% endblock %}
{% block content %}
{% set title = guide.guidename %}
<div class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
<div class="page-header">
    <h2>{{ guide.guidename }}</h2>
</div>
  Name: <input name="newname" type="text" value="{{ guide.guidename }}"></input>
  Phone: <input name="newphone" type="text" value="{{ guide.phone }}"></input>
  Email: <input name="newemail" type="text" value="{{ guide.email }}"></input>
  DNI: <input name="newdni" type="text" value="{{ guide.dni }}"></input>

<button name="upper" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
</button>
<ul>
{% for lan in language %}
<li> {{ lan }} </li>
{% endfor %}
</ul>
</br>

<h3>Appointments</h3>
<div class="scroll-area">
  <ul>
  {% for cruise in guidecruises %}
    {% for obj in cruises %}
        {% if obj.cruise_id == cruise.cruise_id %}
          <li>{{ obj.cruisename }} - {{ cruise.date }}
        <button name="del" type="button" value="{{ cruise.date }}" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-remove" aria-hidden="true" value="{{ cruise.date }}"></span>
        </button></li>
        {% endif %}
      {% endfor %}
  {% endfor %}
</ul>
    </div>
{% endblock %}
