{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
{% set title = "New Guides" %}
<div class="container">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
{% endwith %}
<div class="page-header">
    <h2>{{ 'Adding new Guide' }}</h2>
  </div>
  <form action='' method='post'>
    {{ form.hidden_tag() }}
    <div><label class='control-label'>Guide Name:</label> {{ form.guidename(class='form-control') }}</div>
    <div><label class='control-label'>Phone Number:</label> {{ form.phonenumber(class='form-control') }}</div>
    <div><label class='control-label'>Email:</label> {{ form.email(class='form-control') }}</div>
    <div><label class='control-label'>Type:</label> {{ form.guidetype(class='form-radio') }}</div>
    <div><label class='control-label'>Add More:</label> {{ form.another(class='form-control') }}</div><br>
    <div>{{ form.submit(class='btn btn-primary') }}</div>

  </form>
  <a href="{{ url_for('main') }}">Exit</a>
</div>
{% endblock %}