{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
{% set title = "New Cruise" %}
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="container">
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}
  {% endwith %}
<div class="page-header">
    <h2>{{ 'Adding new Cruise' }}</h2>
  </div>
  <form action='' method='post'>
    {{ form.hidden_tag() }}
    <div><label class='control-label'>Cruise Name: </label> {{ form.cruisename(class='form-control') }}</div>
    <div><label class='control-label'>Short Name: </label> {{ form.cruiseshort(class='form-control') }}</div>
    <div><label class='control-label'>Company: </label></div><div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Select</button></div>

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            {% for company in cruisecompany %}
            <div class="radio">
          <label><input type="radio" name="optradio" value="{{ company.companyname }}">{{ company.companyname }} - {{ company.shortname }}</label>
        </div>
            {% endfor %}
          </div>
        </div>
      </div>

    <div><label class='control-label'>Add More:</label> {{ form.another(class='form-control') }}</div><br>
    <div>{{ form.submit(class='btn btn-primary') }}</div>

  </form>
  <a href="{{ url_for('main') }}">Exit</a>
</div>
{% endblock %}