{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block styles %}
  {{ super() }}
  <style type="text/css">
    .scroll-area{
  height: 200px;
  overflow-y:scroll;
}
  </style>
{% endblock %}
{% block content %}
{% set title = "Guide Aministration" %}
<div class="container">
<div class="page-header">
    <h2>{{ 'Select a guide' }}</h2>
  </div>
     <div class="scroll-area">
  <ul>
 	{% for guide in guides %}
         <li><a href="{{ url_for('guide', phone=guide.phone) }}"><label>{{ guide.guidename }} - Phone: {{ guide.phone }}</label></a></li>
	{% endfor %}
</ul>
	</div> 
  <a href="{{ url_for('main') }}">Exit</a>
</div>
{% endblock %}